# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.so

# 가상환경
.venv/
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# 환경변수 (절대 커밋 금지)
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

docs
.issue
.report
